<footer>
    <div class="direccion">
        <p>OrdVentory</p>
        <p>
            <img class="m-r-small" src="/assets/img/map.svg" alt="Icono de mapa">
            Calle 76 No 56 29
        </p>
        <p>Barranquilla - Colombia</p>
        <p>
            <img class="m-r-small" src="/assets/img/phone.svg" alt="Icono de teléfono">
            +573107139555
        </p>
        <p>
            <img class="m-r-small" src="/assets/img/mail.svg" alt="">
            info@ordventory.com
        </p>
    </div>
    

    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.4319735039626!2d-74.80748273564726!3d11.006180742165881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42da115011e37%3A0xa1e8e21ef0238139!2sVilla%20Country%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1661584302214!5m2!1ses-419!2sco"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="info">
        <div class="iconos-redes">
            <img class="rrss" src="/assets/img/facebook.svg" alt="Icono de Facebook">
            <img class="rrss" src="/assets/img/twitter.svg" alt="Icono de Twitter">
            <img class="rrss" src="/assets/img/whatsapp.svg" alt="Icono de WhatsApp">
            <img class="rrss" src="/assets/img/instagram.svg" alt="Icono de Instagram">
        </div>
        <div class="avisos-le">
            <a href="contacto.html#legal">Aviso legal</a>
            <a href="contacto.html#cookies">Política de cookies</a>
        </div>
        <p class="copyriht m-t">&copy; Ordventory todos los derechos reservados</p>
    </div>
</footer>