* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    /* height: 100vh; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER  */

.nav-menu a.active-link {
    border: 1px solid #58ace0;
    /* border-bottom: 4px solid #2d2761;s */
    background-color:#58ace0;
    border-radius: 0.4rem;
    color: black;
    transition: all 500ms ease-in-out;
    padding: 0.3rem;
}

.nav {
    box-shadow: 2px 2px 4px gray;
    padding: 2rem 0;
    /* padding-bottom: 2rem; */
}

.toggle {
    position: absolute;
    right: 0;
    top: 2rem;
    cursor: pointer;
    margin: 0 1rem;
}

.texto-logo {
    display: none;
}

.toggle .close {
    display: none;
}

.checkbox {
    display: none;
}

.nav-menu .logo img{
    width: 80px;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;

}


.nav-menu li {
    display: none;
}

.nav-menu a {
    border: 1px solid #6D5FD1;
    /* border-bottom: 4px solid #2d2761; */
    background-color: #6D5FD1;
    border-radius: 0.4rem;
    color: black;
    transition: all 500ms ease-in-out;
    padding: 0.3rem;
}

.nav-menu a:hover {
    /* border-bottom: 4px solid #6D5FD1; */
    background-color: #2d2761;
    color: #fff;
}

.nav-menu li:nth-child(2) {
    align-self: flex-start;
    display: block;
}


#checkbox:checked ~ .nav-menu li {
    display: block;
}

#checkbox:checked ~ label.toggle .close {
    display: block;
}

#checkbox:checked ~ label.toggle .open {
    display: none;
}

.logout {
    position: absolute;
    top: 3rem;
    right: 5rem;
    cursor: pointer;
}

.logout a {
    border: 1px solid #6D5FD1;
    background-color: #6D5FD1;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    transition: all 600ms ease-in-out;
}

.logout a:hover {
    background-color: #402bdf;
    color: #fff;
}

.bienvenido {
    margin: 1rem;
}

/* RESPONSIVE */

@media only screen and (min-width: 768px) {

    /* HEADER  */

    .toggle {
        display: none;
    }

    .nav {
        padding: 2rem 0;
    }

    .nav-menu {
        flex-direction: row;
        height: 3rem;
    }

    .nav-menu li {
        display: block; 
    }

    .nav-menu li img {
        position: absolute;
        right: 1rem;
    }

    .nav-menu .logo img{
        position: absolute;
        top: 1rem;
    }

    .texto-logo {
        display: block;
        position: absolute;
        right: 7rem;
        font-weight: 800;
        text-shadow: 2px 2px 4px #2d2761;
    }

    .logout {
        right: 15rem;
    }

    .bienvenido {
        margin: 1rem;
    }

}