<header>

<!-- <nav class="nav">
    <input type="checkbox" name="checkbox" id="checkbox">
    <label for="checkbox">
        <img ng-show="true" src="/assets/img/open.svg" alt="Open">
    </label>
</nav> -->

    <nav class="nav">
        <input type="checkbox" name="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
            <img class="open" src="/assets/img/open.svg" alt="">
            <img class="close" src="/assets/img/close.svg" alt="">
        </label>
    <ul class="nav-menu">
        <p class="texto-logo">OrdVentory</p>
        <li class="logo"><img src="/assets/img/logo.svg" alt="Logo"></li>
        <li><a href="#">Registro</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Información</a></li>
    </ul>
    <div class="logout">
        <a href="logout">Logout</a>
    </div>
    </nav>
    <div class="bienvenido">
        <h4>Bienvenido:</h4> 
    </div>
</header>